In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import math

In [3]:
import pandas as pd
df = pd.read_csv('reddit_train.csv', index_col=0)

In [4]:
df.head()

                                             comments       subreddits
id
0   Honestly, Buffalo is the correct answer. I rem...           hockey
1   Ah yes way could have been :( remember when he...              nba
2   https://youtu.be/6xxbBR8iSZ0?t=40m49s\n\nIf yo...  leagueoflegends
3   He wouldn't have been a bad signing if we woul...           soccer
4   Easy. You use the piss and dry technique. Let ...            funny

In [5]:
df.dropna(inplace=True)
df.reset_index(drop=True,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 2 columns):
comments      70000 non-null object
subreddits    70000 non-null object
dtypes: object(2)
memory usage: 1.1+ MB

In [6]:
from nltk import WordPunctTokenizer
tok = WordPunctTokenizer()
import re

negations_dict = {"isn't":"is not", "aren't":"are not", "wasn't":"was not", "weren't":"were not",
                "haven't":"have not","hasn't":"has not","hadn't":"had not","won't":"will not",
                "wouldn't":"would not", "don't":"do not", "doesn't":"does not","didn't":"did not",
                "can't":"can not","couldn't":"could not","shouldn't":"should not","mightn't":"might not",
                "mustn't":"must not"}

neg_pattern = re.compile(r'\b(' + '|'.join(negations_dict.keys()) + r')\b')

In [7]:
def comment_cleaner(text):
    letters = re.sub("[^a-zA-Z]"," ",str(text))
    lower_case = letters.lower()
    neg_handled = neg_pattern.sub(lambda x: negations_dict[x.group()],lower_case)
    
    #remove unnecessary white spaces by tokenizing and joining back
    words = tok.tokenize(neg_handled)
    return (" ".join(words)).strip()

In [8]:
%%time
print("Cleaning and parsing  comments")
clean_comments = []
for x in df['comments']:
    clean_comments.append(comment_cleaner(x))

Cleaning and parsing  comments
Wall time: 4.16 s

In [9]:
 len(clean_comments)

70000

In [10]:
df['clean-comments'] = clean_comments

In [11]:
df.drop('comments',1,inplace=True)

In [12]:
df.rename(columns={'clean-comments':'comments'},inplace=True)

In [13]:
df.head()

        subreddits                                           comments
0           hockey  honestly buffalo is the correct answer i remem...
1              nba  ah yes way could have been remember when he wa...
2  leagueoflegends  https youtu be xxbbr isz t m s if you didn t f...
3           soccer  he wouldn t have been a bad signing if we woul...
4            funny  easy you use the piss and dry technique let a ...

In [16]:
#from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(newsgroups.data, newsgroups.target, train_size=0.8, test_size=0.2) # Still text data

X_train = np.array(df.drop(df.shape - 1, 1).values,dtype=np.float32)

TypeError: unsupported operand type(s) for -: 'tuple' and 'int'